<p><span class="sam-cv-name"></span></p>



<h4 id="samy-khelifi"><strong>Samy KHELIFI</strong></h4>

<p> <br>
<span class="sam-cv-title"></span></p>



<h4 id="software-engineer"><strong>SOFTWARE ENGINEER</strong></h4>

<p></p>

<h4 id="professional-skills"><strong>PROFESSIONAL SKILLS</strong></h4>

<p><strong>Programming Languages:</strong> Java, Python, JavaScript and PHP. <br>
<strong>Framework:</strong> Symfony, Angular, Django.  <strong>OS:</strong> Linux. <strong>Versioning:</strong> Git.  <br>
<strong>OLPT, OLAP:</strong> Business Object BOXI, MYSQL, Oracle 11g, XML/Json, MongoDB. <br>
<strong>Data science:</strong> Python Pandas/SKLearn, Clustering, Classification, Reduction, Regression.</p>

<h4 id="work-experience"><strong>WORK EXPERIENCE</strong></h4>

<table class="sam-cv-arr">
<tbody>
  <tr>
    <td>August 2015-Mar 2017
18 months
</td>
    <td> WEB developer at SCIENCES PO
       <ul>
         <li> Contribution in different projects of the socio-polical research center, concerning mostly the interoperability with the existing dataflow system (collecting, extracting, data-mining).
        </li>
        <li>    Technical Contributor to the creation of a scientific corpus of data aiming to be exploited by researcher in social science.</li>
        <li>Stack: Python, Javascript (angular, bootstrap), Git, PostGreSQL.</li>
     </ul></td>
   </tr>
  <tr>
    <td>Mai 2013-April 2015 2 years</td>
    <td>Business Analyst, SNCF, head of market treasury
     <ul>
       <li>Change management: technical support, business requirement,
       User Acceptance Testing.</li>
         <li>BUSINESS OBJECTS and PL-SQL development. 
         Task automating in VB for the dataflow servers, and in java for the
         BOXI servers.
         </li>
         <li>Technical Stack: BOXI, VB, PS-SQL.</li>
     </ul></td>

</tr><tr>
  <td>Feb 2011-Feb 20132 years</td>
  <td>WEB developer, IDMWEB, Web Agency
    <ul>
      <li>Backend and frontend development for B2C web company and
      French group internal website. </li>
      <li>Unit Testing.</li>
      <li>Stack: PHP (SYMFONY), JavaScript (jquery), bash, MySQL.</li>  
  </ul></td>

</tr><tr>
  <td>Oct 2010-Feb 2011</td>
  <td>Internship in web development, IDMWEB</td>

</tr><tr>
  <td>2007-2009 2 years</td>
  <td>Vinyl record seller (entrepreneur). PS: MySQL database creation.</td>
</tr>
<tr>
   <td>Mai 2004-Mai 2007 4 years </td>
   <td>Office boy, ALLEZ &amp; ASSOCIES (notary), PARIS. PS: ACCESS database
    administration.</td>
</tr>
</tbody>
</table>

<h4 id="education"><strong>EDUCATION</strong></h4>

<table class="sam-cv-arr">
<tbody>
<tr>
  <td>MOOC (2015-now)      </td>
  <td>Machine learning, Scala et MINING MASSIVE DATASETS from 
COURSERA, WEB SEMANTIC from FUN.</td>
</tr><tr>
  <td>2012-pending </td>
  <td>Currently in final year in Engineering studies (MSc) in
   The CNAM engineering school Paris (computer science field
   With a major in system modeling, optimization)     
</td></tr>
<tr>
  <td>2010-2011</td> 
  <td>Two-year degree in Computer Science, AFPA, Paris.</td>
</tr>
<tr>
  <td>2000-2001</td>
  <td>  One-year degree in Computer Science, université Denis DIDEROT,
  PARIS.</td>
</tr>
<tr>
  <td>1998-99</td>
  <td>Baccalauréat, major in sciences (math specialization), Lycée Paul
  Valéry PARIS.</td>
</tr>
</tbody>
</table>



<h4 id="languages"><strong>LANGUAGES</strong></h4>

<p>French: native tongue. <br>
English: fluent. </p>

<h4 id="personal-interests"><strong>PERSONAL INTERESTS</strong></h4>

<p>Cultural: piano, vinyl collector, short movie director. <br>
Sport: tennis, running, scuba diving.</p>

<h4 id="competitionschallenge"><strong>COMPETITIONS/CHALLENGE</strong></h4>

<table>
  <tbody>
  <tr>
    <td>2016</td>
    <td>ANAP-ATIH 2020 Competition, datascience.net.</td>
  </tr>
  <tr>
    <td>2016</td>
    <td>2 Kaggle competitions: challenge Expedia and Facebook.</td>
</tr>

</tbody>
</table>